<h2>Welcome to your Dashboard!</h2>
<h3>What would you like to do?</h3>

{{!-- GO TO MARKETPLACE --}}
<div>
    <h4><a href='/marketplace'>View Marketplace</a></h4>
</div>

{{!-- SEE YOUR PRODUCTS --}}
<div>
    <h4><a href='/myproducts'>View Your Listings</a></h4>
</div>

{{!-- SEE YOUR BIDS --}}
<div>
    <h4><a href='/bids'>View Your Bids</a></h4>
</div>


{{!-- ADD A NEW PRODCUT --}}
<div>
    <h4><a href='/addproduct'>View Marketplace</a></h4>
</div>